{% extends "bootstrap/base.html" %}
{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}
	<div class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle"
				data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('main.books') }}">Flask Library</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">{% if request.path == url_for('main.books') %}{% endif %}
					<li {% if request.path == url_for('main.books') %}class="active"{% endif %}><a href="{{ url_for('main.books') }}">Books</a></li>
					<li {% if request.path == url_for('main.authors') %}class="active"{% endif %}><a href="{{ url_for('main.authors') }}">Authors</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if current_user.is_authenticated() %}
					<li class="username">Logged in as {{ current_user.username }}</li>
					<li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
					{% else %}
					<li><a href="{{ url_for('auth.register') }}">Register</a></li>
					<li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
{% block content %}
	<div class="container">
		{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
		</div>
		{% endfor %}
	</div>
	{% block main_content %}
	<div class="container">
		<h1>{{ title }}</h1>
	</div>
	{% endblock %}
{% endblock %}
