{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Add Author{% endblock %}
{% block main_content %}
<div class="container">
	<div class="page-header">
		<h1>Add Author</h1>
	</div>
	<div class="col-md-4">
		{{ wtf.quick_form(form) }}
	</div>
	<a href="{{ url_for('main.add_book', next=url_for('main.add_author')) }}" class="btn add-object"><span class="glyphicon glyphicon-plus"></span> Add Book</a>
</div>
{% endblock %}