{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Author Detail{% endblock %}
{% block main_content %}
<div class="container">
	<div class="page-header">
		<h1>About author - {{ author.name }}</h1>
	</div>
	<p>
		<b>Author ID:</b> {{ author.id }}
	</p>
	<p>
		<b>Name:</b> "{{ author.name }}"
	</p>
	<p><b>Books:</b></p>

	{% if author.books %}
		<ul>
			{% for book in author.books %}
					<li><a href="{{ url_for('main.book_detail', id=book.id) }}">{{ book.title }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<h2>Sorry, we don't have any books by {{ author.name }}</h2>
	{% endif %}
	{% if current_user.is_authenticated() %}
	<p>
	<a href="{{ url_for('main.edit_author', id=author.id) }}" class="btn btn-primary">Edit Author</a>
	</p>
	<form action="{{ url_for('main.delete_author') }}" method="POST">
		{{ form.id(value=author.id) }}
		<input type="submit" class="btn btn-danger pull-right" value="Delete Author" />
	</form>
	{% endif %}
</div>
{% endblock %}