{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Authors{% endblock %}
{% block main_content %}
<div class="container">
	<div class="page-header">
		<h1>Authors</h1>
	</div>
	<div class="pull-left">
		<label class="label label-info" for="search-input">Input part of author's name</label>
    	<input type="text" class="input-medium search-query" id="search-input">
    	<div class="btn btn-success" id="search-button">Find Author</div>
    	<div id="back-div"></div>
	</div>
	{% if current_user.is_authenticated() %}
	<a href="{{ url_for('main.add_author') }}" class="pull-right btn btn-warning">Add new author entry</a>
	{% endif %}
	<div class="result-table clearfix">
		{% if authors %}
		<table class="table">
			<thead>
				<tr>
				<th>Author ID</th>
				<th>Name</th>
				<th>More</th>
				</tr>
			</thead>
			<tbody>
				{% for author in authors %}
					<tr>
						<td>{{ author.id }}</td>
						<td>{{ author.name }}</td>
						<td>
							<a href="{{ url_for('main.author_detail', id=author.id) }}" class="btn btn-info">About Author</a>
							{% if current_user.is_authenticated() %}
							<a href="{{ url_for('main.edit_author', id=author.id) }}" class="btn btn-primary">Edit Author</a>
							<form action="{{ url_for('main.delete_author') }}" method="POST">
								{{ form.id(value=author.id) }}
								<input type="submit" class="btn btn-danger pull-right" value="Delete Author" />
							</form>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			<h3 class="search-not-found">There's no authors yet.</h3>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/author_search.js') }}"></script>
{% endblock %}