{% if authors %}
	<table class="table">
		<thead>
			<tr>
				<th>Author ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			{% for author in authors %}
				<tr>
					<td>{{ author.id }}</td>
					<td><a href="{{ url_for('main.author_detail', id=author.id) }}">{{ author.name }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<h3 class="search-not-found">Can't find anything.</h3>
{% endif %}