{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Books{% endblock %}
{% block main_content %}
<div class="container">
	<div class="page-header">
		<h1>Books</h1>
	</div>
	<div class="pull-left">
		<label class="label label-info" for="search-input">Input part of book title or author's name</label>
    	<input type="text" class="input-medium search-query" id="search-input">
    	<div class="btn btn-success" id="search-button">Find Book</div>
    	<div id="back-div"></div>
	</div>
	{% if current_user.is_authenticated() %}
	<a href="{{ url_for('main.add_book') }}" class="pull-right btn btn-warning">Add new book entry</a>
	{% endif %}
	<div class="result-table clearfix">
		{% if books %}
		<table class="table">
			<thead>
				<tr>
				<th>Book ID</th>
				<th>Title</th>
				<th>More</th>
				</tr>
			</thead>
			<tbody>
				{% for book in books %}
					<tr>
						<td>{{ book.id }}</td>
						<td>{{ book.title }}</td>
						<td>
							<a href="{{ url_for('main.book_detail', id=book.id) }}" class="btn btn-info">About Book</a>
							{% if current_user.is_authenticated() %}  
							<a href="{{ url_for('main.edit_book', id=book.id) }}" class="btn btn-primary">Edit Book</a> 
							<form action="{{ url_for('main.delete_book') }}" method="POST">
								{{ form.id(value=book.id) }}
								<input type="submit" class="btn btn-danger pull-right" value="Delete Book" />
							</form>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			<h3 class="search-not-found">There's no books yet.</h3>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/book_search.js') }}"></script>
{% endblock %}