{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Book Detail{% endblock %}
{% block main_content %}
<div class="container">
	<div class="page-header">
		<h1>About Book - "{{ book.title }}"</h1>
	</div>
	<p>
		<b>Book ID:</b> {{ book.id }}
	</p>
	<p>
		<b>Title:</b> "{{ book.title }}"
	</p>
	<p><b>Author(s):</b></p>
	{% if book.authors %}
	<ul>
		{% for author in book.authors %}
				<li><a href="{{ url_for('main.author_detail', id=author.id) }}">{{ author.name }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<span>Sorry, "{{ book.title }}" doesn't have any specified authors yet.</span>
	{% endif %}
	{% if current_user.is_authenticated() %}
	<p>
		<a href="{{ url_for('main.edit_book', id=book.id) }}" class="btn btn-primary">Edit Book</a>
	</p>
	<form action="{{ url_for('main.delete_book') }}" method="POST">
		{{ form.id(value=book.id) }}
		<input type="submit" class="btn btn-danger pull-right" value="Delete Book" />
	</form>
	{% endif %}
</div>
{% endblock %}