	{% if books %}
		<table class="table">
			<thead>
				<tr>
				<th>Book ID</th>
				<th>Title</th>
				</tr>
			</thead>
			<tbody>
				{% for book in books %}
					<tr>
						<td>{{ book.id }}</td>
						<td><a href="{{ url_for('main.book_detail', id=book.id) }}">{{ book.title }}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h3 class="search-not-found">Can't find anything.</h3>
	{% endif %}