{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Login to library{% endblock %}
{% block main_content %}
<div class="container">
	<div class="page-header">
		<h1>Login</h1>
	</div>
	<div class="col-md-4">
		{{ wtf.quick_form(form) }}
	</div>
</div>
{% endblock %}